<header>
  <mdb-navbar [SideClass]="'navbar fixed-top navbar-expand-lg scrolling-navbar intro-fixed-nav navbar-' + (currentTheme$ | async)"
              [containerInside]="true">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" routerLink="home">
        <img src="./assets/svg/logo.svg" alt="" width="40" height="40">
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
          <a class="nav-link" routerLink="profile">{{'profile' | translate }}</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
          <a class="nav-link" routerLink="gallery">{{'gallery' | translate }}</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
          <a class="nav-link" routerLink="projects">{{'projects' | translate }}</a>
        </li>
      </ul>
      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li *ngIf="user$ | async as user"><img class="user-photo" [src]="user.photoURL" alt=""></li>
      </ul>
      <span class="form-inline">
  <select
    class="form-control lang-select"
    #selectedLang
    (change)="switchLang(selectedLang.value)">
    <option *ngFor="let language of translate.getLangs()"
            [value]="language"
            [selected]="language === translate.currentLang">
      {{ language }}
    </option>
  </select>
        <select
          class="form-control lang-select"
          #selectedTheme
          (change)="changeTheme(selectedTheme.value)">
    <option *ngFor="let theme of themeOptions"
            [value]="theme.theme"
            [selected]="theme.theme === (currentTheme$ | async)">
      {{ theme.label }}
    </option>
  </select>
</span>
      <div class="login-out">
        <button (click)="gotoLogIn()" *ngIf="!(isLoggedIn$ | async)">{{'login' | translate}}</button>
        <button (click)="auth.signOut()" *ngIf="isLoggedIn$ | async">{{'logout' | translate}}</button>
      </div>
    </links>
  </mdb-navbar>
</header>
