.lang-select {
  background: transparent;
  color: white;
  height: 42px;
  margin-left: 5px;
  border: none;
  width: auto;
  option {
    background: #000C24;
  }
}
.login-out {
  button {
    background: transparent;
    color: white;
    height: 42px;
    margin-left: 5px;
    border: none;
  }
}
.user-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
