<footer>
  <dl class="js-footer-item social-item">
    <dt><a class="far fa-envelope" target="_blank" href="mailTo: jsunca909@gmail.com" aria-label="Email"></a></dt>
    <dt><a class="fab fa-facebook-f" target="_blank" href="https://www.facebook.com/jun.sun.334" aria-label="Facebook"></a></dt>
    <dt><a class="fab fa-linkedin" target="_blank" href="https://www.linkedin.com/in/jun-sun-8165374b/" aria-label="Linkedin"></a></dt>
    <dt><a class="fab fa-github" target="_blank" href="https://github.com/FagenPark" aria-label="Github"></a></dt>
  </dl>
  <p class="js-footer-item contact-item">
    <a class="default" href="tel:0061418404697">+61 418404697</a>
    <br>
    <br> Hornsby
    <br> 2077 NSW
    <br> Australia
    <br>
    <a class="default" target="_blank" href="https://www.google.com/maps/place/Hornsby+NSW+2077/@-33.6973443,151.0830765,14z/data=!3m1!4b1!4m5!3m4!1s0x6b12a7c5ba29900d:0x5017d681632bae0!8m2!3d-33.7046328!4d151.0987055">View on map</a>
  </p>
</footer>
