.js-login-component {
  background: #000B1C url(https://firebasestorage.googleapis.com/v0/b/sun-jun-adventure.appspot.com/o/bg-5.jpg?alt=media&token=c5647adc-a4a5-4315-bdbf-8dac875f98a7) no-repeat center center;
  background-size: cover;
  color: #fff;
  min-height: calc(100vh + 50px);
  padding: 180px 0;
  .card {
    position: absolute;
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    .social_icon {
      position: absolute;
      right: 20px;
      top: -45px;
      span {
        font-size: 60px;
        margin-left: 10px;
        color: #FFC312;
        &:hover {
          color: white;
          cursor: pointer;
        }
      }
    }
    .input-group-prepend span {
      width: 50px;
      background-color: #FFC312;
      color: black;
      border: 0;
    }
    input:focus {
      outline-width: 0;
      box-shadow: 0 0 0 0;
    }
    .remember input {
      width: 20px;
      height: 20px;
      margin-left: 15px;
      margin-right: 5px;
    }
    .login_btn{
      color: black;
      background-color: #FFC312;
      width: 100px;
      &:hover{
        color: black;
        background-color: white;
      }
    }
    .links{
      color: white;
    }
    .links a{
      margin-left: 4px;
      color: #FFC312;
    }
  }
}
@media screen and (max-width: 450px){
  .js-login-component {
    padding: 330px 0;
    .card {
      width: 330px;
    }
  }
}

