.js-login-component {
  background: var(--lgin-bg-img) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--primary-font-color);
  min-height: calc(100vh + 50px);
  padding: 180px 0;
  .card {
    position: absolute;
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: var(--card-bg);
    .social_icon {
      position: absolute;
      right: 20px;
      top: -45px;
      span {
        font-size: 60px;
        margin-left: 10px;
        color: var(--anchor-font-color);
        &:hover {
          color: var(--primary-font-color);
          cursor: pointer;
        }
      }
    }
    .input-group-prepend span {
      width: 50px;
      background-color: var(--anchor-font-color);
      color: var(--secondary-font-color);
      border: 0;
    }
    input:focus {
      outline-width: 0;
      box-shadow: 0 0 0 0;
    }
    .remember input {
      width: 20px;
      height: 20px;
      margin-left: 15px;
      margin-right: 5px;
    }
    .login_btn{
      color: var(--secondary-font-color);
      background-color: var(--anchor-font-color);
      width: 130px;
      &:hover{
        background-color: var(--primary-color);
      }
    }
    .links{
      color: var(--primary-font-color);
    }
    .links a{
      margin-left: 4px;
      color: var(--anchor-font-color);
    }
  }
}
@media screen and (max-width: 450px){
  .js-login-component {
    padding: 330px 0;
    .card {
      width: 330px;
    }
  }
}

