.js-register-component {
  background: rgb(32,49,59); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgb(32,49,59) 0%, rgb(21,59,86) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  rgb(32,49,59) 0%,rgb(21,59,86) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  rgb(32,49,59) 0%,rgb(21,59,86) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  min-height: calc(100vh + 50px);
  padding: 130px 0;
  .displayTable {
    max-width: 1200px;
    margin: 0 auto;

    .btn {
      color: white;
    }
  }
}
