.js-projects-component {
  justify-content: space-evenly;
  background: #445463 url(https://firebasestorage.googleapis.com/v0/b/sun-jun-adventure.appspot.com/o/bg-5.jpg?alt=media&token=c5647adc-a4a5-4315-bdbf-8dac875f98a7) no-repeat center center/cover;
  min-height: 100vh;
  padding: 130px 0;
  .projects-wrap {
    flex-direction: column;
    margin-top: 80px;
  }
}
@media screen and (min-width: 812px){
  .js-projects-component {
    .projects-wrap {
      flex-direction: row;
      max-width: 1050px;
      flex-wrap: wrap;
    }
  }
}
