<div class="js-404-component">
    <label for="power-on-off" class="power-on-off">
      <input id="power-on-off" type="checkbox" name="power-on-off">
      <span class="btn"></span>
      <i class="fa fa-power-off"></i>
    </label>
    <label for="slider-checkbox" class="slider-checkbox">
      <input id="slider-checkbox" type="checkbox" name="slider-checkbox">
    </label>
    <ul class="social-icons">
      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
  <div class="glowing-text">
    <h3>
      <span>4</span>
      <span>0</span>
      <span>4</span>
    </h3>
  </div>
    <div class="loader"></div>
    <div class="rotate-box">
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
</div>
