.js-404 {
  justify-content: space-evenly;
  background: #445463 url(https://firebasestorage.googleapis.com/v0/b/sun-jun-adventure.appspot.com/o/bg-2.jpg?alt=media&token=c4127aa5-c209-4b71-bd4e-255aa24bdcab) no-repeat center center/cover;
  min-height: 100vh;
  padding: 130px 0;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
}
