<div class="who-i-am-component flex waypoint animated slide-in-left" data-animation="slide-in-left">
  <img src="./assets/images/jun.jpg" class="img-fluid img-thumbnail rounded jun">
  <div class="label bold">Who's this guy?</div>
  <div class="about-jun">
    I'm a Front-End Developer for
    <a class="highlight" href="http://www.choice.com.au" target="_blank">CHOICE</a>
    in Sydney.
    <br>
    I have strong passion for UI effects, animations and creating
    pleasant, dynamic user experiences.
    <br>
    Click <a href="https://drive.google.com/open?id=1r0UdmhW3qw2GGiJSb15EG_pAfzCrLtTN" target="_blank">here</a> to know more about me.
  </div>
</div>
