<div class="who-i-am-component flex waypoint animated slide-in-left" data-animation="slide-in-left">
  <img src="https://firebasestorage.googleapis.com/v0/b/sun-jun-adventure.appspot.com/o/jun.jpg?alt=media&token=a3817a74-9c91-4a62-94c0-b19b5853c823" class="img-fluid img-thumbnail rounded jun">
  <div class="label bold">{{'who-is' | translate}}</div>
  <div class="about-jun">
    {{'about-jun' | translate}}
    <a href="https://drive.google.com/open?id=1r0UdmhW3qw2GGiJSb15EG_pAfzCrLtTN" target="_blank">
      {{'here' | translate}}
    </a>
    {{'know-more' | translate}}
  </div>
</div>
