<div class="js-gallery-component">
  <app-page-header headerAnimation="slide-in-left" pageHeader="{{'gallery' | translate }}"></app-page-header>
  <div class="gallery-container">
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [interval]="1000000" [type]="'carousel-multi-item'"
                  [animation]="'slide'">
      <mdb-carousel-item *ngFor="let item of slides; let i = index">
        <div class="col-md-4" [ngClass]="{'d-none d-md-block': cardIndex !== 0}" *ngFor="let card of item; let cardIndex = index">
          <mdb-card class="my-1">
            <mdb-card-img [src]="card.thumbnail" alt="Card image cap"></mdb-card-img>
            <mdb-card-body class="carousel-text">
              <mdb-card-title>
                <h4>{{card.title}}</h4>
              </mdb-card-title>
              <p>{{card.description}}</p>
              <a target="_blank" [href]="card.img" mdbBtn color="danger" class="waves-light" mdbWavesEffect>Original View</a>
            </mdb-card-body>
          </mdb-card>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</div>
