.js-gallery-component {
  background: rgb(32, 49, 59) url(https://firebasestorage.googleapis.com/v0/b/sun-jun-adventure.appspot.com/o/bg-4.jpg?alt=media&token=08f54c86-747a-4d06-894f-7f844b57347b) no-repeat center center;
  background-size: cover;
  color: #fff;
  min-height: calc(100vh + 50px);
  padding: 130px 0;

  .gallery-container {
    max-width: 1200px;
    margin: 50px auto 0;
  }

  .carousel-text {
    color: #333;
    background: #ffb95f;
  }

  .waves-light {
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 450px) {
  .js-gallery-component {
    padding: 330px 0;
  }
}
