.lang-select {
  background: transparent;
  color: var(--primary-font-color);
  height: 42px;
  margin-left: 5px;
  border: none;
  width: auto;
  option {
    background: var(--navbar-bg-color);
  }
}
.login-out {
  button {
    background: transparent;
    color: var(--primary-font-color);
    height: 42px;
    margin-left: 5px;
    border: none;
  }
}
