.js-project-component {
  padding: 2px;
  background-color: #fff;
  width: 196px;
  height: 196px;
  .project-card {
    cursor: pointer;
  }
  .project-card, .project-card-content {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 192px;
    height: 192px;
    justify-content: space-evenly;
  }
  .project-text {
    text-align: center;
    .project-title {
      font-size: 18px;
      font-weight: bold;
    }
    .project-sub {
      color: rgb(105, 0, 132);
    }
  }

  .btn-link {
    border: 2px solid #d91682;
    &:hover {
      background: #d91682;
      color: #fff;
    }
  }
}
@media screen and (min-width: 812px){
  .js-project-component {
    padding: 3px;
    width: 256px;
    height: 256px;
    .project-card, .project-card-content {
      width: 250px;
      height: 250px;
    }
  }
}
