.js-project-component {
  padding: 2px;
  background-color: var(--body-bg-color);
  width: 196px;
  height: 196px;
  border: solid 1px #661515;
  &:active, &:hover, &:focus {
    outline: none;
    border-color: #00a1ff;
  }
  .project-card {
    cursor: pointer;
  }
  .project-card, .project-card-content {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 192px;
    height: 192px;
    justify-content: space-evenly;
  }
  .project-text {
    text-align: center;
    .project-title {
      font-size: 18px;
      font-weight: bold;
    }
    .project-sub {
      color: var(--primary-font-color);
    }
  }

  .btn-link {
    border: 2px solid var(--primary-color);
    background: var(--primary-color);
  }
}
@media screen and (min-width: 812px){
  .js-project-component {
    padding: 3px;
    width: 256px;
    height: 256px;
    .project-card, .project-card-content {
      width: 250px;
      height: 250px;
    }
  }
}
