<div class="view intro-2">
  <div class="full-bg-img">
    <div class="mask flex-center">
      <div class="container text-center white-text">
        <div class="text animated slideInUp" data-animation="slideInUp">
          Hello, welcome! I'm <span class="highlight">Jun Sun</span>.
          <br>
          <p class="animated slideInUp" data-animation="slideInUp" data-delay="0.5s" style="animation-delay: 0.5s;">A firsthand web developer with proven expertise in using new tools and technical
            developments to drive improvements throughout web development lifecycle. I seek to code to the high
            standard.</p>
        </div>
      </div>
    </div>
  </div>
</div>
