.view {
  background: url(../../assets/images/moon.jpg) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  .text {
    font-size: 35px;
    line-height: 250px;
    text-align: center;
    .highlight {
      color: #e25663;
    }
    p {
      font-size: 20px;
      line-height: 35px;
    }
  }
}

@media (min-width: 960px) {
  .view {
    overflow: visible;
    .text {
      font-size: 45px;
      line-height: 350px;
      text-align: right;
      .highlight {
        color: #e25663;
      }
      p {
        font-size: 28px;
        line-height: 45px;
        padding-left: 25%;
      }
    }
  }
}

@media (max-width: 450px) {
  .view {
    background: url(../../assets/images/moon-phone.jpg) no-repeat center center;
    background-size: cover;
    .text {
      line-height: 80px;
      p {
        line-height: 28px;

      }
    }
  }
}
