<div class="js-profile-component">
  <app-page-header headerAnimation="slide-in-left" pageHeader="{{'profile' | translate }}"></app-page-header>
  <div class="flex label-wrap">
    <div class="flex bullet-group">
      <app-bullet bulletIcon="fas fa-skiing" bulletLabel="{{'p-b1-title' | translate }}" bulletDescription="{{'p-b1-description' | translate }}"></app-bullet>
      <app-bullet bulletIcon="fab fa-buromobelexperte" bulletLabel="{{'p-b2-title' | translate }}" bulletDescription="{{'p-b2-description' | translate }}"></app-bullet>
    </div>
    <div class="flex bullet-group">
      <app-bullet bulletIcon="fas fa-landmark" bulletLabel="{{'p-b3-title' | translate }}" bulletDescription="{{'p-b3-description' | translate }}"></app-bullet>
      <app-bullet bulletIcon="fas fa-dice" bulletLabel="{{'p-b4-title' | translate }}" bulletDescription="{{'p-b4-description' | translate }}"></app-bullet>
    </div>
  </div>
  <div class="skills-wrapper flex">
    <app-who-am-i class="skill-who"></app-who-am-i>
    <app-skill-chart class="skill-chart"></app-skill-chart>
  </div>
</div>
