.js-profile-component {
  background: var(--profile-bg-img) no-repeat center center/cover;
  color: var(--primary-font-color);
  min-height: calc(100vh + 53px);
  padding: 330px 0;

  .label-wrap {
    margin-top: 100px;
    flex-direction: column;
    .bullet-group {
      flex-direction: column;
    }
  }
  .skills-wrapper {
    width: 100%;
    margin: 50px 0 0 0;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-font-color);
  }
  .skill-chart, .skill-who {
    transform: scale(0.8);
    width: 420px;
    height: 420px;
  }
}
@media screen and (min-width: 320px) {
  .js-profile-component {
    .skill-who, .skill-chart {
      transform: scale(0.7);
    }
  }
}

@media screen and (min-width: 812px) {
  .js-profile-component {
    padding: 130px 0;
    .label-wrap {
      flex-direction: row;
      .bullet-group {
        flex-direction: column;
      }
    }
    .skills-wrapper {
      flex-direction: row;
      justify-content: space-evenly;
    }
    .skill-who, .skill-chart {
      transform: scale(0.9);
    }
  }
}
@media screen and (min-width: 960px) {
  .js-profile-component {
    .label-wrap {
      .bullet-group {
        flex-direction: row;
      }
    }
    .skill-who, .skill-chart {
      transform: scale(1);
    }
  }
}



