<div class="js-profile-component">
  <app-page-header headerAnimation="slide-in-left" pageHeader="Profile"></app-page-header>
  <div class="flex label-wrap">
    <div class="flex bullet-group">
      <app-bullet bulletIcon="fas fa-skiing" bulletLabel="Rapid" bulletDescription="
                   Time to first byte and page load time are always high
                    priority.
                  "></app-bullet>
      <app-bullet bulletIcon="fab fa-buromobelexperte" bulletLabel="Devices" bulletDescription="
                    Layouts will work on any device, big or small.
                  "></app-bullet>
    </div>
    <div class="flex bullet-group">
      <app-bullet bulletIcon="fas fa-landmark" bulletLabel="Journey" bulletDescription="
                    Strong preference for making user journey easy and intuitive.
                  "></app-bullet>
      <app-bullet bulletIcon="fas fa-dice" bulletLabel="Dynamic" bulletDescription="
                    Elements and data are mean to be living stuff.
                  "></app-bullet>
    </div>
  </div>
  <div class="skills-wrapper flex">
    <app-who-am-i class="skill-who"></app-who-am-i>
    <app-skill-chart class="skill-chart"></app-skill-chart>
  </div>
</div>
