  .bullet-wrap {
    height: 230px;
    width: 250px;
    margin: 0;
    padding: 0 10px;
  }
  .animated.flip-in-x {
    animation: flipInX 0.75s ease both;
  }
  .hex-wrap {
    height: 100px;
    width: 100px;
    .hexagon {
      i {
        font-size: 40pt;
      }
    }
  }
.mdi {
  display: inline-block;
  font: normal normal normal 24px/1;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.hex-wrap {
  display: inline-block;
  height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
  .hexagon {
    background-color: var(--hexgon-color);
    display: inline-block;
    height: 100%;
    width: calc(100% * 0.57735);
    i {
      color: var(--primary-font-color);
      font-size: 34pt;
      left: 0;
      position: absolute;
      right: 0;
      top: 20px;
      z-index: 1;
    }
    &:before {
      background-color: inherit;
      content: "";
      height: inherit;
      position: absolute;
      right: calc((100% / 2) - ((100% * 0.57735) / 2));
      top: 0;
      transform: rotateZ(60deg);
      width: inherit;
    }
    &:after {
      background-color: inherit;
      content: "";
      height: inherit;
      position: absolute;
      right: calc((100% / 2) - ((100% * 0.57735) / 2));
      top: 0;
      transform: rotateZ(-60deg);
      width: inherit;
    }
  }
}
.waypoint {
  text-align: center;
  .label {
    margin: 15px 0 5px 0;
    font-size: 18pt;
    font-weight: 500;
  }
}


