/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgba(0, 0, 0, 0.5);
  .flex.row {
    flex-direction: row;
  }
  .flex {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .row {
    margin: 0;
  }
  }

@media screen and (min-width: 960px) {
  .animated.slide-in-left {
    animation: slideInLeft 0.75s ease both;
  }
  .flex-50-gt-sm {
    box-sizing: border-box;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-height: 100%;
    max-width: 50%;
  }
}

